[submodule "TakkaEngineCore/externals/glfw"]
	path = TakkaEngineCore/externals/glfw
	url = https://github.com/glfw/glfw
[submodule "TakkaEngineCore/externals/assimp"]
	path = TakkaEngineCore/externals/assimp
	url = https://github.com/assimp/assimp.git
[submodule "TakkaEngineCore/externals/glm"]
	path = TakkaEngineCore/externals/glm
	url = https://github.com/g-truc/glm.git
[submodule "TakkaEngineCore/externals/stb"]
	path = TakkaEngineCore/externals/stb
	url = https://github.com/nothings/stb
[submodule "TakkaEngineCore/externals/OpenAL"]
	path = TakkaEngineCore/externals/OpenAL
	url = https://github.com/kcat/openal-soft.git
[submodule "TakkaEditor/externals/ImGUI"]
	path = TakkaEditor/externals/ImGUI
	url = https://github.com/ocornut/imgui.git
